.center-wrapper {
    margin: 0 auto;
    box-sizing: border-box;
}

header.header {
    margin-top: 20px;
}

.task, .task-records {
    margin-top: 20px;
}
.task{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.49);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.49);
}

.sort {
    height: 40px;
}

.sort .dropdown {
    width: 200px;
}

.form-message-error{
    display: none;
    font-size: 14px;
    color: red;
}

.user-auth .logout{
    font-size: 14px;
}

.task {
    position: relative;
}
.edit-task {
    position: absolute;
    right: 10px;
    top: 10px;
}
.arrow-down img{
    transform: rotate(180deg);
}

